/coder_id/
/extractionTarget/
/100with100/
/gitsamples/
/gcj1/
*.pyc
*.csv*
*savedSets/
/classResults/
/plots/
/repos/
*.token
ghmining*.json
allExperiments.cid
*.vscode*
*.png
*.out
*.odc
settings.json
*gcjExtractedFiles*
*.zip
